// Specific CSS for your home-page

.home-container{
  display: flex;
  align-items: flex-end;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height:calc(100vh - 50px);
  background-size: cover;
  background-position: center;
  padding-bottom: 24px;
}

