<div class="navbar-craving">
      <a class="navbar-brand header" href="/">
        <%= image_tag "cravinglogo.png" %>
      </a>
      <button class="crave-button-secondary-sm"> <a href=""><%= link_to "Log in", user_session_path %></button></a>
</div>
