<div class="home-container" style= "background-image: url(<%= image_path 'fork.jpeg' %>)">
  <div class="craving-content">
    <h1 style= "margin-bottom: 50px">Crave it.<br>Discover it.<br>Taste it.</h1>
    <p>Discover the best dishes near you</p>
    <form action="">
      <input type="text" placeholder="Your location" class="search-bar" style="margin-bottom: 24px">
    </form>
  </div>
</div>


