<div class="home-container" style= "background-image: url(<%= image_path 'fork.jpg' %>) ">
  <div class="craving-content" >
    <h1 style= "margin-bottom: 50px">Crave it.<br>Discover it.<br>Taste it.</h1>

    <p>Discover the best dishes near you.</p>
    <%= form_tag search_dishes_path, method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "search-bar",
        id: "address",
        placeholder: "Type your location",
        value: "Barcelona"
      %>
      <% end %>
  </div>
</div>
