<div class="crave-container" style="background-image: url(<%= image_path 'fork.jpeg' %>)">
  <div class="headers">
    <h1>Crave it.</h1>
    <h1>Discover it.</h1>
    <h1>Taste it.</h1>
  </div>
</div>

