<div class="card-map">
  <%= image_tag restaurant.photo, size: "84x84", alt: "rss feed" %>
  <div class="card-map-infos">
    <h4 style="color: white"><%= restaurant.name %></h4>
    <p style="color: white"><%= restaurant.address %></p>
  </div>
</div>

