<% if price_range === "1" %>
  <p class="resto-dish-name">€</p>
<% elsif price_range === "2" %>
  <p class="resto-dish-name">€€</p>
<% elsif price_range === "3" %>
  <p class="resto-dish-name">€€€</p>
<% elsif price_range === "4" %>
  <p class="resto-dish-name">€€€€</p>
<% end %>
