<!--BUTTON (search by dish) -->
<div class="craving-content">

  <form action="">
    <input type="text" placeholder="Search by dish" class="search-bar" style="margin-bottom: 25px">
  </form>

  <!--CARD (search by dish)-->
  <div class="search-card">
    <div class="craving-dish-search" style="background-image: url(<%= image_path 'wafles.jpeg' %>)"></div>

    <!--craving-dish-info (info of the dish)-->

    <div class="craving-dish-info">

     <ul style="padding-left: 0px;">
      <span><h5 style="height: 22px; width: 143px; margin-bottom: 0px;"
      >Osaka Burger</h5></span>

      <span><h6>Timesburg</h6></span>
    </ul>


    <!--card-dish-km (km of the dish)-->

    <ul class="card-dish-km">

     <h5 style="
     margin-bottom: 0px;
     height: 30px;
     ">0.5km</h5>

   </ul>
 </div>

 <!--card-dish-rating (rating of the dish)-->
  <span class="card-dish-rating">4</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
</div>
</div>
</div>

