<!--BUTTON (search by dish) -->
<div class="craving-content" style="padding-top: 12px; margin-bottom: 50px !important;">
  <form action="">
    <input type="text" placeholder="Search by dish" class="search-bar">
  </form>
</div>
















<!--CARD (search by dish)-->
<div class="grid-container">
  <div class="craving-dish-search" style="background-image: url(<%= image_path 'wafles.jpeg' %>)">
</div>

<!--CARD (info of one dish)-->
<div class="craving-dish-info">
  <h1>Osaka Burger</h1>
  <h2>Timesburg</h2>
  <h3 class="card-dish-km">0.5km</h3>
</div>
</div>

