<!--BUTTON (search by dish) -->
<div class="grid-container">
<div class="craving-content" style="padding-top: 12px; margin-bottom: 50px !important;">
  <form action="">
    <input type="text" placeholder="Search by dish" class="search-bar">
  </form>
</div>

<!--CARD (search by dish)-->
<div class="craving-dish-search" style="background-image: url(<%= image_path 'wafles.jpeg' %>); height: 200px; width: 200px;
  object-fit: cover; ">
</div>

<!--CARD (info of one dish)-->
<div class="craving-dish-info">
  <div>
    <h1>Osaka Burger</h1>
    <h2>Timesburg</h2>
  </div>
  <h3 class="card-dish-km" style=" ">0.5km</h3>
</div>
</div>

