.crave-button-primary {
  font-weight: bold;
  background-color: $red;
  color: $blue;
  border: none;
  padding: 10px 15px;
  width: 100px;
    a {
    color: $blue;
    text-decoration: none;
  }
  a:hover {
    color: $white;

  }
}

#button-resto {
  width: 50%;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  }


.crave-button-secondary {

  font-weight: bold;
  background-color: $blue;
  color: $red;
  border: 1px solid $red;
  padding: 10px 15px;
  width: 100px;
  a {
    color: $red;
    text-decoration: none;
  }
  a:hover {
    color: $white;

  }
}
.crave-button-secondary-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  color: $red;
  border: 1px solid $red;
  height: 28px;
  width: 65px;
  font-size: 12px;
  a {
    color: $red;
    text-decoration: none;
  }
  a:hover {
    color: $white;
  }
}

.crave-button-primary-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red ;
  color: $blue;
  border: 1px solid $red;
  height: 28px;
  width: 65px;
  font-size: 12px;
  a {
    color: $blue;
    text-decoration: none;
  }
  a:hover {
    color: $white;

  }
}

.crave-button-primary-lg {
  font-weight: bold;
  background-color: $red;
  color: $blue;
  border: none;
  width: 100%;
}

.buttons-resto {
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 3;
  background-color: $blue;
  width: 100%;
}

.el-tenedor {
  img {
    margin-right: 12px;
    width: 30px;
    width: 30px;
  }
}

.deliveroo {
  img {
    margin-right: 12px;
    width: 45px;
    width: 45px;
  }
}




