// <--CARD DISH CONTAINER (search by dish)-->

.craving-dish-search {
 height: 200px;
 width: 100%;
 background-size: cover;
 background-position: center;
 object-fit: cover;
}


.craving-dish-info {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.large-card {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  height: 250px;
  p {
    font-size: 12px;
  }
}

.resto-dish-name {
  font-size: 15px;
  margin-bottom: 0px;

}

.resto-name {
  padding-bottom: 12px;
  font-size: 16px;

}

.dish-info-card {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
  flex-grow: 1;
}

.resto{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 16px;
  button {
    height: 40px;
    font-size: 12px;
    font-weight: bold;
  }

}
.resto-content {
  display: flex;

  p{
    font-size: 14px;
  }
}

.fa-bookmark {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 4px;
  padding-left: 4px;

}

.dish-info {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 4px;
  padding-left: 4px;
}

.dish-rate {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 0px;
  padding-left: 4px;
  width: 36%;
}

.resto-rate {
  background-color: rgba(17, 20, 33, 0.8);

}

.name {
    margin-bottom: 4px;
}
.resto-name {
  margin-bottom: 0px;
  padding-top: 10px;
}

.info {
  margin-top: 8px;
  p {
    font-size: 12px;
  }
  h5 {
    font-size: 13px;
  }

  .distance {
    text-align: right;
  }

// 0.5km in restaurant page
  .distance-rest{
    text-align: left;
    margin-top: 20px;
  }


  .name {
    margin-bottom: 4px;
}

  .rating  {
    margin-bottom: 4px;
  }
}

.fa-star {

  color: $red;
}

.fa-star-half-alt{
  color: $red;
}

.checked {
    color: $red !important;
  }


.cards {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 16px;
  margin-bottom: 72px;
}

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-size: cover;
  background-position: center;

}



