// <--CARD DISH CONTAINER (search by dish)-->


.craving-dish-search {
 height: 200px;
 width: 100%;
 background-size: cover;
 background-position: center;
 object-fit: cover;
}

.search-card {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 273px;
  height: 385px;
  margin-right: 0‒;
}

.craving-dish-info {
  display: flex;
  justify-content:  space-between;
  border: 1px solid white;
}

.info {
  border: 1px solid white;
}

.info {
  border: 1px solid white;
}

// <--STAR RATING -->

.card-dish-rating {
    color: white;
}

.fa-star {
  color: $gray;
}
.checked {
    color: $red !important;
  }

.checked {
  color: orange;
}




