// <--CARD DISH CONTAINER (search by dish)-->


.craving-dish-search {
 height: 200px;
 width: 100%;
 background-size: cover;
 background-position: center;
 object-fit: cover;
}

.search-card {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 273px;
  height: 385px;
  margin-right: 0;
}

.craving-dish-info {
  display: flex;
  justify-content:  space-between;
  margin-right: 16px;
  margin-left: 16px;
}

.large-card {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  height: 250px;
  p {
    font-size: 12px;
  }
}

.dish-info-card {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
  flex-grow: 1;
}

.resto{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 16px;
  button {
    height: 40px;
    font-size: 12px;
    font-weight: bold;
  }

}
.resto-content {
  display: flex;

  p{
    font-size: 14px;
  }
}

.fa-bookmark {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 4px;
  padding-left: 4px;

}

.dish-info {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 4px;
  padding-left: 4px;
}
.dish-rate {
  background-color: rgba(17, 20, 33, 0.8);
  padding-right: 0px;
  padding-left: 4px;
}

.name {
    margin-bottom: 4px;
}
.resto-name {
  margin-bottom: 0px;
}

.info {
  margin-top: 8px;
  p {
    font-size: 12px;
  }
  h5 {
    font-size: 13px;
  }

  .distance {
    text-align: right;
  }

  .rating  {
    margin-bottom: 4px;
  }
}

.fa-star {
  color: $gray;
}
.checked {
    color: $red !important;
  }

.checked {
  color: orange;
}




