
// <--CARD DISH CONTAINER (search by dish)-->
.craving-dish-search {
 height: 200px;
 width: 100%;
 background-size: cover;
 background-position: center;
 border-radius: 4px;
 object-fit: cover;
}









