.map-container {
  #map {
    margin-bottom: 16px;
    height: 240px;
     z-index: 0;
  }
  @include not-phone {
    display: flex;
    margin: 0 auto;


   .map-content{
    width: 100%;
    margin: 0;
  }
  #map {
    margin-bottom: 16px;
    height: 100vh;
    z-index: 0;

  }
  .cards-carsousel {
    position: fixed;
    align-self: center;
    top: 74px;
    right: 16px;
    width: 300px;
    margin: 0;
    .dish-carousel-display.carousel-item {
      background-color: $blue;
    }
    }
  }

}

.mapboxgl-popup {
  // max-width: 200px;
}
.mapboxgl-user-location-dot {
  background: #FF6464 !important;
}
.mapboxgl-user-location-dot::after {
  background: #FF6464 !important;
}

.mapboxgl-ctrl-group::after > button {
  background: #FF6464 !important;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  // background: #111422;
  // background-color: #111422;
}
.distance-map {
  margin-left: 20%;
  margin-top: 0px;
}
// .mapboxgl-ctrl-geocoder {
//   display: hidden;
// }
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}

.mapboxgl-ctrl-icon{
  display: none !important;
}

.card-map {
  overflow: hidden;
  border-radius: 2px;
  height: 100px;
  background: #111422;
  display: flex;
  align-items: left;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -15px;
  box-shadow: 0 5 10px rgba(0,0,0,0.8);
}

.card-map-infos {
  padding: 8px;
  text-align: left;
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: 1;
    margin: 4px 0;
  }
}

.map-av {
  position: fixed;
  opacity: 1;
  bottom: 24px;
  right: 16px;
  padding-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  h3 {
    color: $blue;
    font-size: 40px;
  }
}
.list-av {
  position: fixed;
  opacity: 1;
  top: 60px;
  left: 16px;
  padding-top: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: $red;
    font-size: 30px;
  }
}

.carousel-item-hidden {
  display: none;
}


