.mapboxgl-popup {
  // max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  // background: #111422;
  // background-color: #111422;
}

// .mapboxgl-ctrl-geocoder {
//   display: hidden;
// }
.card-map {
  overflow: hidden;
  height: 70px;
  background: #111422;
  display: flex;
  align-items: left;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-map h4 {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-top: 7px;
}

.card-map p {
  font-size: 10px;
  line-height: 1.4;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 8px;
}
