.navbar-craving {
  display: flex;
  justify-content: space-between;
  background: $blue;
  height: 50px;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  .header {
    margin-left: 16px;
  }
  button {
    margin-right: 16px;
  }

}
.navbar-craving .navbar-collapse {
  flex-grow: 0;
}
.navbar-craving .navbar-brand img {
  width: 80px;

}
// .nav-links {
//   display: flex;
//   flex-direction: row;
//   a {
//     margin-right: 25px;
//     align-self: center;
//   }
//   .drop-link {
//     margin-right: 0;
//   }
// }
