.navbar-craving {
  justify-content: space-between;
  background: $blue;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;

}

.navbar-craving .navbar-collapse {
  flex-grow: 0;
}

.navbar-craving .navbar-brand img {
  width: 80px;

}

// .nav-links {
//   display: flex;
//   flex-direction: row;
//   a {
//     margin-right: 25px;
//     align-self: center;
//   }
//   .drop-link {
//     margin-right: 0;
//   }
// }
